.card {
    margin:10px;
}

.price {
    font-size: 22px;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;
}

.card .badge {
    margin: 5px;
}

.card .quantity {
    
    position: relative;
    right: -10rem;
    top: -2.5rem;

}